BasedOnStyle: LLVM
IndentWidth: 8
ContinuationIndentWidth: 8
PointerAlignment: Right
UseTab: Always
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
BinPackArguments: False
BinPackParameters: False
ConstructorInitializerAllOnOneLineOrOnePerLine: True
AccessModifierOffset: -8
IncludeBlocks: Regroup
